<navigation class="absolute top-0 left-0 right-0 flex items-center justify-end px-4 py-12 lg:px-8 lg:py-16 space-x-6">
  <a
    class="text-link-blue text-lg"
    href="/"
    v-href="workHref"
  >Work</a>
  <a
    class="text-link-blue text-lg"
    href="/projects"
    v-href="projectsHref"
  >Projects</a>
  <%- include('/page/dark-mode') %>
</navigation>