---
import MoonAuto from './icons/MoonAuto.astro';
import SunAuto from './icons/SunAuto.astro';
import Moon from './icons/Moon.astro';
import Sun from './icons/Sun.astro';
---
<div
  v-hide
  v-event:click.outside="clickedOutside"
  class="flex flex-col items-end relative"
>
  <button
    class="p-1 lg:p-2 text-gray-600 dark:text-gray-300"
    v-event:mouseover="mouseOverDarkMode"
    v-event:click="clickedDarkMode"
    aria-label="Open dark mode selector"
  >
    <div v-if="darkMode && mode === 'auto'"><MoonAuto size={24} /></div>
    <div v-if="!darkMode && mode === 'auto'"><SunAuto size={24} /></div>
    <div v-if="mode === 'dark'"><Moon size={24} /></div>
    <div v-if="mode === 'light'"><Sun size={24} /></div>
  </button>

  <div
    v-if="showingModal"
    v-event:mouseleave="closeModal"
    class="absolute -mt-3 lg:-mt-2 -mr-1 lg:-mr-2 flex flex-col items-stretch rounded bg-white dark:bg-gray-800 py-2 border-2 shadow-xl space-y-1"
    role="dialog"
    aria-label="Dark mode selector"
    style="top: -2px; right: -2px;"
  >
    <!-- Auto option -->
    <button
      v-event:click="setMode('auto')"
      v-event:keydown.esc="closeModal"
      class="flex items-center hoverable:hover:bg-blue-100 hoverable:dark:hover:bg-gray-700 px-2 lg:px-4 py-2"
      aria-label="Use whatever dark mode setting your browser is using"
      v-ref="auto"
    >
      <p
        v-class:text-blue-600.dark:text-blue-400="mode === 'auto'"
        v-class:text-gray-500.dark:text-gray-400="mode !== 'auto'"
      >
        <span v-if="!systemDark"><SunAuto size={24} /></span>
        <span v-if="systemDark"><MoonAuto size={24} /></span>
      </p>
    </button>
    <!-- Light option -->
    <button
      v-event:click="setMode('light')"
      v-event:keydown.esc="closeModal"
      class="flex items-center hoverable:hover:bg-blue-100 hoverable:dark:hover:bg-gray-700 px-2 lg:px-4 py-2"
      aria-label="Always use light mode (white background)"
      v-ref="light"
    >
      <p
        v-class:text-blue-600.dark:text-blue-400="mode === 'light'"
        v-class:text-gray-500.dark:text-gray-400="mode !== 'light'"
      >
        <Sun size={24} />
      </p>
    </button>
    <!-- Dark option -->
    <button
      v-event:click="setMode('dark')"
      v-event:keydown.esc="closeModal"
      class="flex items-center hoverable:hover:bg-blue-100 hoverable:dark:hover:bg-gray-700 px-2 lg:px-4 py-2"
      aria-label="Always use dark mode (black background)"
      v-ref="dark"
    >
      <p
        v-class:text-blue-600.dark:text-blue-400="mode === 'dark'"
        v-class:text-gray-500.dark:text-gray-400="mode !== 'dark'"
      >
        <Moon size={24} />
      </p>
    </button>
  </div>
</div>
