<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&family=IBM+Plex+Serif:wght@600&display=optional" rel="stylesheet">
    <title><%= title || siteData.name %></title>
    <meta name="description" content="Come learn about Kippy!">
  </head>
  <body>
    <div
      class="transition-all"
      v-component="page"
      v-class:dark="darkMode"
    >
      <div class="absolute right-0 top-0 p-12">
        <button
          class="cursor-pointer h-8 w-8 border rounded border-gray-400 flex items-center justify-center"
          aria-label="Toggle Dark Mode"
          v-event:click="darkMode = !darkMode"
        >
          <%- include('/icons/moon', { size: 16, attr: 'v-if=darkMode' }) %>
          <%- include('/icons/sun', { size: 16, attr: 'v-if=!darkMode' }) %>
      </div>
      <%- content %>
    </div>
  </body>
  <script type="module" src="/scripts/main.js"></script>
</html>