<div class="h-full border-2 p-8 rounded-t-lg bg-gray-50 dark:bg-gray-800 font-mono text-sm text-gray-700 dark:text-gray-300 flex flex-col justify-center">
  <p class="ml-0">&lt;<span class="text-red-600 dark:text-red-400">div</span></p>
  <p class="ml-4 text-purple-600  dark:text-purple-400">v-component</p>
  <p class="ml-4"><span class="text-purple-600 dark:text-purple-400">v-data:count</span>="<span class="text-lime-600 dark:text-lime-300">0</span>"</p>
  <p class="ml-0">&gt;</p>
  <p class="ml-4">&lt;<span class="text-red-600 dark:text-red-400">button</span> <span class="text-purple-600  dark:text-purple-400">v-event:click</span>="<span class="text-lime-700 dark:text-lime-300">count -= 1</span>"&gt; - &lt;/<span class="text-red-600 dark:text-red-400">button</span>&gt</p>
  <p class="ml-4">&lt;<span class="text-red-600 dark:text-red-400">p</span> <span class="text-purple-600  dark:text-purple-400">v-text</span>="<span class="text-lime-700 dark:text-lime-300">count</span>"&gt;0&lt;/<span class="text-red-600 dark:text-red-400">p</span>&gt</p>
  <p class="ml-4">&lt;<span class="text-red-600 dark:text-red-400">button</span> <span class="text-purple-600  dark:text-purple-400">v-event:click</span>="<span class="text-lime-700 dark:text-lime-300">count += 1</span>"&gt; + &lt;/<span class="text-red-600 dark:text-red-400">button</span>&gt</p>
  <p class="ml-0">&lt;/<span class="text-red-600 dark:text-red-400">div</span>&gt;</p>
</div>